header {
  text-align: center;
}


body{
	margin: 0px;
}

.nav-buttons{
  padding-left: 150px;
}

#nav-buttons button{
  display: inline-block;
}

.logo-text{
	padding-left: 150px;
	font-family: Arial;
	font-size: 50px;
}
.flex-container {
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: left;
  	align-items: left;
}

.grey-container{
	padding: 0px;
	background-color: #dae1e4;
}

.information-content{
	width: 300px;
	padding-top: 50px;
  	padding-left: 200px;
  	padding-bottom: 50px;
  	margin: 20px;
}

.information-font{
	font: calibri;
	font-size: 25;
}
